.logout {
    text-decoration: none;
    color: #fff;
  }
  .header-container {
   
    background-color: black !important;  
   }
   
   .text-decorator-none{
    text-decoration: none;
}

.cursor{
cursor: pointer;
color: white

}